{% extends "base.html" %}
{% block content %}
<style>
    body{
        background-color:rgba(35, 35, 183, 0.187) ;
       } 
    h1{
        text-align: center;
    }
    p{
    text-indent: 50px;
    text-align-last: auto;
    letter-spacing: 3px;
    }
</style>
    <h1></h1>
    <p>I’m always excited to meet new friends and hear new stories, so please don’t hesitate to send me back. Thanks for stopping by!
    <a href="mailto:wintunnaing55@gmail.com" class="btn btn-lg">
    <button style="font-size:24px;color:red">Email Me <i class="fa fa-envelope"></i></button>    
    </a></p>
{% endblock content %}
    
    <!-- <p></p>
    </body>

</html> -->

<!-- <!DOCTYPE html>
<head>
    <title>Contact</title>
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body> -->

