{% extends "base.html" %}
{% block content %}
<style>
    body {
        background-color: #f4d6d5ae;
    }
    h3 {
        text-align: center;
    }
    p {
    text-indent: 50px;
    text-align-last: auto;
    letter-spacing: 3px;
    }

</style>

    <h3><u>About Me</u></h3>
    <p>Win Tun Naing is currently working as Test Engineering Technician at Ouster, Inc., testing of 3D Lidar sensor system, laser micro components and calibration of electro-mechanical computer control system of robotic machines. 
        He'd previously worked as a Quality Engineering Technician with performs the set-up test, calibration of complex robotics, product verification, documents results and device history record for Medical Device Company. 
        His strengths are attention to details, fast learner, always love to learn new technology and enjoy working with people as team work. He graduated from Yangon University and major in Industrial Engineering Chemistry and 
        another majar in Electrical Engineering Technology from City College of San Francisco. His favorite activities are 
        playing soccer, playing guitar, listen music, and travelling.</p>
    
    </br>
{% endblock content %}

    <!-- <h3><u></u></h3>
   
    
    <p></p>
    </body>

</html> -->

<!-- <!DOCTYPE html>
<head>
    <title>My Projects</title>
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        body {
            background-color: #f4d6d5ae;
        }
        h3 {
            text-align: center;
        }
        p {
        text-indent: 50px;
        text-align-last: auto;
        letter-spacing: 3px;
        }

    </style>
</head>
<body> -->
    